.add-friend-message {
    position: fixed;
    bottom: 3%;
    left: 5%;
    width: 60%;
}

@media all and (min-width: 700px) {

    .add-friend-message {
        width: auto;
        bottom: 6%;
        left: auto;
        right: 32%;
    }

}