.acct-mgmt-container {
    padding: 3%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    position: fixed;
    top: 10%;
    left: 0;
    bottom: 0;
    overflow: auto;
}

.acct-mgmt-container h2 {
    font-size: 15pt;
}
.acct-mgmt-container p {
    font-size: 12pt;
}
