.acct-mgmt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 1vw;
    padding: 3vw;
    border: 1px solid black;
    height: 88vh;
    width: 98vw;
    position: fixed;
    top: 10vh;
    overflow: auto;
}

.acct-mgmt-container h2 {
    font-size: 15pt;
}
.acct-mgmt-container p {
    font-size: 12pt;
}
