.core-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 1vw;
    padding: 2%;
    border: solid 1px black;
    width: 98vw;
    height: 78vh;
    position: fixed;
    top: 20vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.show-list-container {
    width: 100%;
}