.to-watch-show-card {
    display: flex;
    flex-direction: column;
    margin: 5% 0; 

    background-color: rgb(206, 207, 207);
    
    /*
    border: solid 1px black;
    border-radius: 3px;
    background-color: rgb(223, 225, 240);
    box-shadow: 0 0 6px grey;
    */
}

/*-- ~~ Main card content ~~ --*/
.to-watch-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*-- 1) Logo --*/
.show-card-logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 20%;
    background-color: rgb(208, 226, 226);
}

.service-logo {
    width: 100%;
}

/*-- 2) Title / genre --*/
.show-card-content-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding: 2% 3%;
    width: 55%;
    background-color: rgb(214, 226, 208);
}

.show-title-div {
    flex-basis: 5;
    text-align: left;
}

.show-card-main-info-half {
    margin: 2%;
}

/*-- 3) Buttons --*/

.show-card-buttons-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 25%;
    background-color: rgb(224, 226, 208);
}

.show-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
    padding: 5%;
    font-size: 2rem;
    text-align: center;
    border: none;
    background-color: white;
    /*
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    */
}

/*
.to-watch-show-card-top-half {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.to-watch-show-card-bottom-half {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}
*/


/*-- ~~ Finished show review stuff ~~ --*/
.finish-show-review-section {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2% 0 5% 0;
}

.finish-show-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    padding-right: 3%;
}

.finish-show-form-section {
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.finish-q-label {
    width: 100%;
    margin-bottom: 10%;
}

.finish-show-form-cancel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin-left: 5%;
}

.finish-show-button {
    margin: 1%;
    padding: 12%;
    font-size: 1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}


.finish-show-cancel-button {
    font-size: 2rem;
    margin-top: 2%;
    background-color: none;
    border: none;
    /*
    margin: 1%;
    padding: 8%;
    font-size: 1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(218, 206, 209);
    */
}

