.to-watch-show-card {
    display: flex;
    flex-direction: column;
    margin: 5% 2%; 
    padding: 2%;
    border: solid 1px black;
    border-radius: 3px;
    background-color: rgb(223, 225, 240);
    box-shadow: 0 0 6px grey;
}

.to-watch-show-card-half {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.show-card-button {
    margin: 1%;
    padding: 2%;
    font-size: 1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(206, 217, 218);
}

.finish-show-review-section {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.finish-show-form {
    width: 60%;
    margin: 3%;
}

.finish-show-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.finish-show-form-section {
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.finish-show-form-cancel {
    width: 28%;
    margin: 3%;
}

.finish-show-button {
    margin: 1%;
    padding: 12%;
    font-size: 1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(206, 217, 218);
}

.finish-show-cancel-button {
    margin: 1%;
    padding: 8%;
    font-size: 1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(218, 206, 209);
}