.to-watch-show-card {
    display: flex;
    flex-direction: column;
    margin: 5% 2%; 
    padding: 2%;
    border: solid 1px black;
    border-radius: 3px;
    background-color: rgb(223, 225, 240);
    box-shadow: 0 0 6px grey;
}

.to-watch-show-card-half {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.show-card-button {
    margin: 1%;
    padding: 2%;
    font-size: 1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(206, 217, 218);
}