.landing-container {
    margin: 1vh 1vw;
    padding: 2%;
    border: 1px solid black;
    height: 88vh;
    position: fixed;
    top: 10vh;
    overflow: auto;
}

h2 {
    font-size: 15pt;
}

p {
    font-size: 12pt;
}

hr {
    border: 0;
    border-top: 1px solid grey;
    margin: 0 15%;
}

.next-steps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.next-step {
    margin: 2% 4%;
    padding: 3%;
    border: 2%;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 7px grey;
}