.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25% 2%;
    
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    padding: 2%;
    max-width: 650px;
    text-align: center;
}

.login-form-section {
    margin: 2%;
    padding: 2%;
}