.login-container {
    padding: 20% 2%;
}

.login-container h2 {
    text-align: center;
}

.login-form {
    margin: 2%;
    padding: 2%;
    text-align: center;
}

.login-form-section {
    margin: 2%;
    padding: 2%;
}

.login-button {
    margin: 2% 4%;
    padding: 3%;
    font-size: 1.1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 7px grey;
    background-color: rgb(182, 195, 196);
}

@media all and (min-width: 700px) {
    
    .login-container {
        padding: 5% 2%;
    }
    
}