.signup-container {
    padding: 20% 2%;
    width: 98vw;
}

.signup-container h2 {
    text-align: center;
}

.signup-form {
    margin: 2%;
    padding: 2%;
    text-align: center;
}

.signup-form-section {
    margin: 2%;
    padding: 2%;
}

.signup-button {
    margin: 2% 4%;
    padding: 3%;
    font-size: 1.1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 7px grey;
    background-color: rgb(182, 195, 196);
}