.friends-content-container {
    padding: 3%;
    width: 94%;
    position: fixed;
    top: 36%;
    left: 3%;
    bottom: 3%;
    overflow: auto;
    background-color: rgb(224, 238, 238, 0.6);
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 0 5px grey;
}

.get-big {
    margin: 15px;
    font-size: 20pt;
}

@media all and (min-width: 700px) {
    
    .friends-content-container {
        left: 25%;
        width: 60%;
        padding: 0 2%;
    }
    
}