.watched-show-card-public {
    display: flex;
    flex-direction: column;
    margin: 5% 2%; 
    padding: 2%;
    border: solid 1px black;
    border-radius: 3px;
    background-color: rgb(223, 225, 240);
    box-shadow: 0 0 6px grey;
}

.watched-card-public-half {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}