.add-friend-container {
    padding: 15%;
    text-align: center;
}

.add-friend-form {
    margin: 2%;
    padding: 2%;
    text-align: center;
}

.add-friend-section {
    margin: 1%;
    padding: 2%;
}

.add-friend-button {
    margin: 2% 4%;
    padding: 3%;
    font-size: 1.1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 7px grey;
    background-color: rgb(182, 195, 196);
}
  