.add-show-container {
    padding: 10% 2%;
    width: 98vw;
    text-align: center;
}

.add-show-form {
    margin: 2%;
    padding: 2%;
    text-align: center;
}

.add-show-section {
    margin: 1%;
    padding: 2%;
}

.add-show-button {
    margin: 2% 4%;
    padding: 3%;
    font-size: 1.1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 7px grey;
    background-color: rgb(182, 195, 196);
}
  