header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin: 1vh;
    padding: 2%;
    width: 98%;
    border: 1px solid black;
    height: 8vh;
    position: fixed;
    top: 0;
    background-color: white;
}

header .active {
    text-shadow: 0 0 7px rgb(78, 78, 78);
    box-shadow: none;
  }

.header-component {
    width: 100%;
}

h1 {
    font-size: 16pt;
    margin: 0;
    text-align: left;
}

.links-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.header-link-container {
    margin: 1% 3%;
}

  