nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    width: 100%;
    height: 10vh;
    background-color: rgb(221, 236, 223);
}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1%;
    padding: 2%;
    width: 31%;
    border: 1px solid black;
}

nav .active {
    box-shadow: 0 0 7px grey;
}
