nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 10%;
    overflow: auto;
}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1%;
    padding: 2%;
    width: 31%;
    border: 1px solid black;
}

nav .active {
    box-shadow: 0 0 7px grey;
}
